/*-- scss:defaults --*/

// Colors 
$dark-grey: #474747;
$sage: #94a699;
$light-grey: #a9aba9;
$dark-sage: #505e54;
$light-green: #dff2e4;

$dusty-pink: #9b7173;
$cream: #FDFBF7;
$dark-green: #223a2b;
$blue-green: #1E4147;


// base document colors
$navbar-bg: $dark-green;
$navbar-fg: $cream;
$body-color: $light-grey;
$body-bg: $dark-sage;
$footer-bg: $sage;
$link-color: $dusty-pink;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat&display=swap');


/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 4px;
  font-weight: 500;
  color: $cream;
}

  .title {
    color: $cream;
  }
  
  .center-text {
    text-align: center;
  }
  
  