/*-- scss:defaults --*/

// Colors 
$dark-grey: #474747;
$sage: #94a699;
$light-grey: #a9aba9;
$lighter-grey: #EDF0F0;
$dark-sage: #505e54;
$light-green: #dff2e4;

$dusty-pink: #9b7173;
$cream: #FDFBF7;
$dark-green: #223a2b;
$blue-green: #1E4147;


// base document colors
$navbar-bg: $sage;
$navbar-fg: $cream;
$navbar-hl: $dark-grey;
$body-color: $dark-grey;
$body-bg: $cream;
$footer-bg: $dark-sage;
$link-color: $dusty-pink;

// Inline code
$code-bg: $lighter-grey;
$code-color: $dark-green; 

// Code blocks
$code-block-bg: $lighter-grey;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat&display=swap');


/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 4px;
  font-weight: 500;
  color: $dark-sage;
}

  .title {
    color: $dark-grey;
  }
  
  .center-text {
    text-align: center;
  }
  

/* Style for the gallery images */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-img {
  width: auto; /* Set a fixed width for the gallery images */
  height: 300px; /* Automatically adjust height while maintaining aspect ratio */
  cursor: pointer; /* Cursor pointer on hover */
  position: relative; /* Ensure positioning for overlay */
  transition: transform 0.2s; /* Smooth scaling on hover */
}

.gallery-img:hover {
  transform: scale(1.05); /* Slightly enlarge the image on hover */
}

.gallery-img::after {
  content: attr(data-hover-text); /* Use data-hover-text as hover text */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  pointer-events: none; /* Ensure hover text doesn't interfere with clicks */
  transition: opacity 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gallery-img:hover::after {
  opacity: 1; /* Show hover text on image hover */
}

/* Style for the modal */
.modal {
  display: none;  /* Hidden by default */
  position: fixed;
  z-index: 9999; /* Ensure modal appears above other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 110%;
  overflow: auto; /* Enable scrolling if necessary */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  padding: 30px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Style for modal content (image) */
.modal-content {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* Ensure no scroll bar appears on the modal */
body.modal-open {
  overflow: hidden;
}

  